{% extends "base.html" %}

{% block content %}

<form method="post">
	{% csrf_token %}

	<div class="card">
		<div class="card-header text-center h3">
			<i class="fa-solid fa-triangle-exclamation" style="color: firebrick;">
			</i>
			Delete Product 
			<span class="badge text-bg-warning ms-3 p-2">{{ product.name }} ??</span>
		</div>
		<div class="card-body my-3 container">
			You are about to delete the product named: {{ product.name }}. <br/>
			This action cannot be undone. 
			Are you sure?
		</div>
		<div class="navbar d-flex justify-content-end">
			<input type="submit" class="btn btn-danger mx-2" value="Delete" />
			<a class="btn btn-light" href = "{% url 'product-list' %}">
				<i class="fa-solid fa-xmark"></i>
				Cancel 
			</a>
		</div>
	</div>
	
</form>

{% endblock %}
